# Telegram Bot
python-telegram-bot==22.5

# Environment Variables
python-dotenv==1.2.1

# Google Sheets API
gspread==6.2.1
google-auth==2.47.0
google-api-python-client==2.187.0

# Google Gemini AI
google-genai==1.57.0

# Timezone handling
pytz==2026.1.post1

# graphing
matplotlib==3.10.8

# Sentence Transformers for semantic search
sentence-transformers==5.3.0
